<!DOCTYPE html>
<html lang='zh'>
<head>
  <title>My Index Page</title>
  <meta charset="utf-8">
</head>
<body>
  <p>Welcome to my index page, backed by handlebars.js.</p>
  <p>Author: {{author}}</p>
</body>
</html>
