<script id='basic-info.template' type='text/x-handlebars-template'>
  <div>
  	<div><h3>{{welcomeMessage}}</h3></div>
  	<div class='name'>
  		<span>Name: </span><input type='text' /></div>
  	</div>
  	<div class='age'>
  		<span>Age: </span><input type='text' /></div>
  	</div>
  </div>
</script>